
@import "./vendor/bootstrap.less";
@import "./vendor/bootstrap-slider.less";
@import "./vendor/material-ui.less";

.container {
  padding-top: @desktop-keyline-increment + @grid-gutter-width;
}

.logo {
  cursor: pointer;
  .mui-font-style-headline;
  .mui-text-full-white;
  line-height: @app-bar-height;
  .mui-font-weight-light;
  background-color: @primary-1-color;
  padding-left: @desktop-gutter;
  padding-top: 0;
  margin-bottom: @desktop-gutter-mini;
}
